{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ورود{% endblock %}
{% block content %}


<title>ورود به سایت</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}">
<!--===============================================================================================-->


<div class="limiter">

    {% if form.non_field_errors %}

    <div class="myerrors">

        {% for error in form.non_field_errors %}
        	<span>{{ error }}</span>
        {% endfor %}
    </div>

    {% endif %}

    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post" novalidate>
                {% csrf_token %}
                <span class="login100-form-title p-b-26 myfont">
						ورود به سایت
					</span>
                <span class="login100-form-title p-b-48">
						<img src="{% static 'img/FAV-icon.png' %}">
					</span>

                <div class="wrap-input100 validate-input" data-validate="نام کاربری معتبر وارد کنید">
                    {{ form.username|add_class:"input100" }}
                    {% if form.username.errors %}

                    <div class="myerrors">

                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                    {% endif %}

                    <span class="focus-input100" data-placeholder="نام کاربری"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="پسوورد معتبر وارد کنید">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                    {{ form.password|add_class:"input100" }}
                    {% if form.password.errors %}

                    <div class="myerrors">

                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>

                    {% endif %}

                    <span class="focus-input100" data-placeholder="گذرواژه"></span>
                </div>

                <a class="myfont" href="{% url 'password_reset' %}">فراموشی گذرواژه</a>
                <br>
                <a class="myfont" href="">ثبت نام کنید</a>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn myfont">
                            ورود
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'registration/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'registration/login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'registration/login/js/main.js' %}"></script>

{% endblock %}